body {
  background-color: #F2F5FF;
  
}

h1{
  font-size: 50px;
  letter-spacing: -1.5px;
  color: #FF6B6B;
  font-weight: 700;
  margin: 0;
}
h5 {
  font-size: 18px;
  color: #FF6B6B;
  font-weight: 600;
  letter-spacing: -0.2px;
  margin: 0;
}
p {
  color: rgba(39,39,39,0.6);
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  line-height: 20px;
  letter-spacing: 0;
  
}
.header-spacer5{
  margin-top: 5%;
}
.header-spacer4{
  margin-top: 4%;
}
.header-spacer3{
  margin-top: 3%;
}
.header-spacer2{
  margin-top: 2%;
}
.card-body p{
    color: rgba(39,39,39,0.6);
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    line-height: 20px;
    letter-spacing: 0;
    padding-bottom: 10%;
}

/* Header Styles */
.header-border{
  border-bottom: 1px solid rgba(100,87,166,0.1);
  padding: 5px 20px 0px 20px;
}

.header-fold{
  z-index: -1;
  position: absolute;
  height: 550px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fbfbff;
  border-bottom: 1px solid rgba(100,87,166,0.1);
}

.footer-fold{
  z-index: -1;
  position: absolute;
  height: 50px;
  width: 100%;
  top: 1;
  left: 0;
  background-color:rgba(251,251,255,0.1);
  border-bottom: 1px solid rgba(100,87,166,0.1);
}
/* Button Styles */

/* BTN Primary */
.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover{
  color: #fff;
  background-color: #039CDD;
  border-color: #039CDD;
  outline: none;
  box-shadow: none;
}

.btn-primary{
  background-color: #fff;
  border: solid 1px #039CDD;
  color: #039CDD;
  box-shadow: none;
}
.btn-primary:hover{
  background-color: #039CDD;
  border: solid 1px #039CDD;
  color: white;
}
.btn-primary:focus{
  box-shadow: none;
  background-color: #fff;
  border: solid 1px #039CDD;
  color: #039CDD;
}


/* BTN Secondary */
.btn.btn-secondary.active.focus,
.btn.btn-secondary.active:focus,
.btn.btn-secondary.active:hover,
.btn.btn-secondary:active.focus,
.btn.btn-secondary:active:focus,
.btn.btn-secondary:active:hover {
  color: #fff;
  background-color: #FF6B6B;
  border-color: #FF6B6B;
  outline: none;
  box-shadow: none;
}

.btn-secondary{
  background-color: #fff;
  border: solid 1px #FF6B6B;
  color: #FF6B6B;
  box-shadow: none;
}
.btn-secondary:hover{
  background-color: #FF6B6B;
  border: solid 1px #FF6B6B;
  color: white;
}
.btn-secondary:focus{
  box-shadow: none;
  background-color: #fff;
  border: solid 1px #FF6B6B;
  color: #FF6B6B;
}



 /* Nav Styles */
.nav-link{
  color: #039CDD;
}
.navbar .navbar-collapse {
  text-align: right;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  
}
/* Carousel Styles */
.carousel-container{
  position: absolute;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(39, 39, 39, 0.1), 0 10px 20px 0 rgba(39, 39, 39, 0.05);
  background-size: 721px 598px;
  height: 598px;
  width: 721px;
}
.center-hero-text {
  margin: auto;
  padding-right: 10px;
  max-width: 520px;
}

#intro_0{
  background-image: url('/img/test.png');
  width:100%;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}
#intro_1{
  background-image: url('/img/test2.png');
  width:100%;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

  .large-img-bkgd {
    width: 100% !important;
    max-height: 550px;
    left: 0;
  }
  .intro-switch {
    cursor: pointer;
  }
  .intro-switch .icon,
  .intro-switch h6 {
    color: #272727;
  }


  
  .intro-switch.selected .icon,
  .intro-switch.selected h6 {
    color: #FF6B6B;
  }


  .intro-switch.selected h6 {
    border-bottom: 2px solid #039CDD;
    padding-right: 0px;
    position: relative;
    
  }
  .icon {
    color: #272727;
    font-size: 12px;
  }
  .intro-switch {
    display: flex;
  }


.ease-all {
  transition: all 0.5s ease 0s;
}
.hide {
  opacity: 0;
}

/* Padding Rules */
.section-padding{
  padding-top:700px
}
@media(min-width:400px){
  .section-padding{padding-top:640px}
}
@media(min-width:768px){
  .section-padding{padding-top:250px}
}
@media(min-width:992px){
  .section-padding{padding-top:370px}
}
@media(min-width:1200px){
  .section-padding{padding-top:340px}
}

/* Footer Padding Rules */
.section-padding-footer{
  padding-top:470px
}
@media(min-width:400px){
  .section-padding-footer{padding-top:470px}
}
@media(min-width:768px){
  .section-padding-footer{padding-top:470px}
}
@media(min-width:992px){
  .section-padding-footer{padding-top:470px}
}
@media(min-width:1200px){
  .section-padding-footer{padding-top:470px}
}


.padding-spacer{
  padding-left: 5px;
}
/* Card Rules */
.card-body{
  padding-left: 0px;
  flex-direction: column;
  justify-content: center;
}
.card-transparent{
  background-color: transparent;
  border: none;
}

.card-img-top{
  width: 100%;
  min-height: 212px;
  border-radius: 8px;
  border: 1px solid rgba(39,39,39,0.1);
  box-shadow: 0px 4px 10px rgba(39,39,39,0.1);
}
.card{
  background-color: transparent;
  border: none;  
}

.footer-nav-link-color a{
  color:#039CDD;
  text-decoration: none;
}



